# Verification

- S. Arora, A. Bhaskara, R. Ge, and T. Ma. Provable bounds for learning some deep representations. ICML'14
- N. Cohen, O. Sharir, and A. Shashua. On the expressive power of deep learning: A tensor analysis. COLT'16
- P. L. Bartlett, D. J. Foster, and M. J. Telgarsky. Spectrally-normalized margin bounds for neural networks. NIPS'17
- **GeoCert**: Matt Jordan, Justin Lewis, Alexandros G. Dimakis. Provable Certificates for Adversarial Examples: Fitting a Ball in the Union of Polytopes. NIPS'19
- A. Sinha, H. Namkoong, and J. Duchi. Certifiable distributional robustness with principled adversarial training. arxiv'17
- **LayerCert**: Cong, Ersin, Raquel.