# Verification

- Matt Jordan, Justin Lewis, Alexandros G. Dimakis. Provable Certificates for Adversarial Examples: Fitting a Ball in the Union of Polytopes. NIPS'19